/*@import url("//cdn.web-fonts.ge/fonts/bpg-ingiri-arial/css/bpg-ingiri-arial.min.css");*/
.text-georgian{
	width: 780px;
	height: 27px;
	font-size: 20px;
	font-family: "BPG Nino Mtavruli", sans-serif;
	margin-top: 49.5px;
	margin-right: 500px;
	margin-bottom: 17.5px;
	margin-left: 43px;
	display: inline-block;
}
.images-one{
	width: 270px;
	height: 210px;
	margin-top: 17.5px;
	margin-right: 39px;
	margin-bottom: 297.5px;
	margin-left: 43px;
	display: inline-block;
}
.paragraph-both-georgian{
	font-family: "BPG Ingiri Arial", sans-serif;
	font-size: 16px;
	width: 520px;
	height: 360px;
	margin-top: 97.5px;
	margin-right: 85px;
	margin-bottom:144px ;
	margin-left: 39px;
	display: inline-block;
}
.paragraph-georgian{
	padding: 20px;
}
.text-english{
	margin-top: 147.5px;
	font-family: 'Lato', sans-serif
	display: inline-block;
	width: 793px;
	height: 27px;
	margin-left: 43px;
	margin-bottom: 21px;
}
.paragraph-both-english{
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	width: 929px;
	height: 360px;
	margin-top: 21px;
	margin-right: 85px;
	margin-bottom: 800.5px;
	margin-left: 39px;
	display: inline-block;
}
.paragraph-english{
	padding: 20px;
}
.images-two{
	width: 270px;
	height: 210px;
	margin-top: 17.5px;
	margin-right: 39px;
	margin-bottom: 150px;
	margin-left: 39px;
	display: inline-block;
}
